html {
  box-sizing: border-box;
  font-size: 100%;
}

*,
*::before,
*::after {
  box-sizing: inherit;
}

body {
  font-family: sans-serif, "Segoe UI", Tahoma, Geneva, Verdana, sans-serif;
  box-sizing: border-box;
  line-height: 1.3;
}

/* utilities   */
.container {
  /* padding-left: 0; */
  /* padding-right: 0; */
}
